.gameboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  display: inline-block;
  border: 1px solid black;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  float: left;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
}
.square.green {
	background: rgba(0, 255, 0, 0.7);
}

.win {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  display: none;
}