body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.gameboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  display: inline-block;
  border: 1px solid #996633;
}

.row:after {
  display: table;
  content: '';
  clear: both;
}

.row:nth-child(even) .square:nth-child(odd),
.row:nth-child(odd) .square:nth-child(even) {
  background-color: #996633;
  border: 1px solid #996633;
}

.row:nth-child(odd) .square:nth-child(odd),
.row:nth-child(even) .square:nth-child(even) {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.square {
  position: relative;
  float: left;
  width: 68px;
  height: 68px;
  font-size: 10px;
  border-radius: 3px;
}

.piece {

}

.piece:after {
  content: '\272A';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 40px;
  line-height: 68px;
  text-align: center;
}

.piece.white:after {
  color: #ffffff;
}

.piece.black:after{
  color: #000000;
}

.piece.king:after {
  content: '\2742';
  font-size: 45px;
}

.start {
  cursor: pointer;
  border: 1px solid blue!important;
}

.active {
  background-color: rgba(0, 0, 255, 0.5) !important;
}

/*can move here*/
.valid {
  background-color: rgba(0, 255, 0, 0.5) !important;
  cursor: pointer;
}

/*path to move*/
.move {
  background-color: rgba(0, 255, 0, 0.5) !important;
  cursor: pointer;
}

.take {
  background-color: rgba(255, 0, 0, 0.5) !important;
}