<!DOCTYPE>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="chess.js"></script>
  <link rel="stylesheet" href="chess.css">
</head>

<body ng-app="chessApp">
<div class="chess-table" chess-game>
  <div class="row" ng-repeat="(rowIndex, row) in rows | orderBy: '-'">
    <div id="s{{$index}}{{rowIndex}}"
         class="chess-sq"
         ng-repeat="(colIndex, col) in columns"
         ng-click="move($index, rowIndex)"
         ng-class="[{'empty': getInitial(col, row) == null}, getInitial(col, row)]">
    </div>
  </div>
</div>
</body>
</html>