body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.chess-table {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  display: inline-block;
  border: 1px solid #dddddd;
}

.row:nth-child(even) .chess-sq:nth-child(odd),
.row:nth-child(odd) .chess-sq:nth-child(even) {
  background-color: #dddddd;
  border: 1px solid #dddddd;
}

.row:nth-child(odd) .chess-sq:nth-child(odd),
.row:nth-child(even) .chess-sq:nth-child(even) {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.row:after {
  display: table;
  content: '';
  clear: both;
}

.chess-sq {
  float: left;
  width: 68px;
  height: 68px;
  font-size: 10px;
}

.chess-sq:not(.empty) {
  position: relative;
  cursor: pointer;
}

.chess-sq:not(.empty):after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 45px;
  line-height: 68px;
  text-align: center;
}

.move {
  background-color: rgba(0, 0, 255, 0.7) !important;
  cursor: pointer;
}

.valid {
  background-color: rgba(0, 255, 0, 0.7) !important;
  cursor: pointer;
}

.capture {
  background-color: rgba(255, 0, 0, 0.7) !important;
  cursor: pointer;
}

.white.pawn:after {
  content: '\2659';
}

.white.rook:after {
  content: '\2656';
}

.white.knight:after {
  content: '\2658';
}

.white.bishop:after {
  content: '\2657';
}

.white.queen:after {
  content: '\2655';
}

.white.king:after {
  content: '\2654';
}

.black.pawn:after {
  content: '\265F';
}

.black.rook:after {
  content: '\265C';
}

.black.knight:after {
  content: '\265E';
}

.black.bishop:after {
  content: '\265D';
}

.black.queen:after {
  content: '\265B';
}

.black.king:after {
  content: '\265A';
}