@gridSizeLG: 100px;
@gridMarginLG: 15px;
@gridSizeXS: 50px;
@gridMarginXS: 10px;
@pieceValues: 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048;
@pieceColors: #eee4da, #eee1c9, #f3b27a, #f69664, #f77c5f, #f75f3b, #edd073, #edcc62, #edc950, #edc53f, #edc22e;
@textColorDark: #776e65;
@textColorLight: #f9f6f2;
@gameboardHeadingHeight: 130px;

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.gameboard {
  position: fixed;
  left: 50%;
  top: 50%;
  padding-top: @gameboardHeadingHeight;
  user-select: none;
  overflow: hidden;
  .crossBrowser(transform, translate(-50%, -50%));

  &.start-game {
    &:after {
      content: '';
      position: absolute;
      top: @gameboardHeadingHeight;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
    }
  }

  &.game-over {
    .reset {
      display: block;
    }
  }

  .reset {
    display: none;
    position: absolute;
    top: @gameboardHeadingHeight;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 25%;
    background: rgba(255,255,255,0.5);
    text-align: center;
    margin: 0 auto;
    z-index: 3;

    p {
      font-weight: bold;
      margin: 20px 0;
      color: @textColorDark;
    }

    button {
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      color: @textColorLight;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      cursor: pointer;
      border: 0;
      box-shadow: 0;
    }
  }

  .heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @gameboardHeadingHeight;

    &:after {
      content: '';
      clear: both;
      display: block;
    }

    h1 {
      line-height: 60px;
      font-weight: bold;
      margin: 0;
      color: @textColorDark;

      span {
        position: relative;
        float: left;
        opacity: 0;
        animation: bounce .5s ease forwards;

        &:nth-child(2) {
          animation-delay: .1s;
        }

        &:nth-child(3) {
          animation-delay: .2s;
        }

        &:nth-child(4) {
          animation-delay: .3s;
        }
      }
    }

    p {
      font-size: 18px;
      display: block;
      margin: 0 0 10px;
      color: @textColorDark;
    }

    .score {
      float: right;
      position: relative;
      display: inline-block;
      background: #bbada0;
      padding: 15px 25px;
      font-size: 25px;
      height: 25px;
      line-height: 45px;
      font-weight: bold;
      border-radius: 3px;
      color: #f9f6f2;
      margin-left: 2px;
      text-align: center;

      &:after {
        content: 'score';
        position: absolute;
        left: 0;
        right: 0;
        top: 7px;
        left: 0;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: @textColorLight;
        opacity: 0.7;
      }

      span {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: @textColorDark;
        font-size: 25px;
        line-height: 25px;
        margin-top: -10px;
        opacity: 0;
        animation: slide-up .7s ease forwards;
      }
    }
  }

  .grid {
    position: absolute;
    background: #bbada0;
    border-radius: 6px;
    z-index: 1;

    .row {
      &:last-of-type {
        margin-bottom: 0;
      }

      &:after {
        content: '';
        clear: both;
        display: block;
      }

      .cell {
        background: rgba(238, 228, 218, 0.35);
        border-radius: 3px;
        float: left;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .pieces {
    position: absolute;
    z-index: 2;

    .piece {
      position: absolute;
      .crossBrowser(transition, .2s ease-in-out);

      .pieceProp(@p_val; @p_color; @i: 1) when (@i =< length(@p_val)) {
        .pieceProp(@p_val; @p_color; (@i + 1));
        @val: extract(@p_val, @i);
        @color: extract(@p_color, @i);

        &.piece_@{val} {
          &:after {
            content: '@{val}';
            background: @color;

            & when (@val <= 4) {
              color: @textColorDark;
            }

            & when (@val > 4) {
              color: @textColorLight;
            }
          }
        }
      }

      .pieceProp(@pieceValues, @pieceColors);

      &.piece-new {
        &:after {
          animation: zoom-out .2s ease;
        }
      }

      &:after {
        content: '';
        position: absolute;
        background: #4d4a42;
        border-radius: 3px;
        color: #776e65;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .gameboard {
    height: (@gridSizeLG + @gridMarginLG) * 4 + @gridMarginLG;
    width: (@gridSizeLG + @gridMarginLG) * 4 + @gridMarginLG;

    &.start-game {
      &:after {
        background: url('img/cursor.gif') no-repeat center center / 50% 50%;
      }
    }

    .reset {
      p {
        font-size: 0.7 * @gridSizeLG;
      }
    }

    .heading {
      h1 {
        font-size: 0.7 * @gridSizeLG;
      }
    }

    .grid {
      padding: @gridMarginLG;

      .row {
        margin-bottom: @gridMarginLG;

        .cell {
          height: @gridSizeLG;
          width: @gridSizeLG;
          margin-right: @gridMarginLG;
        }
      }
    }

    .pieces {
      .piece {
        width: @gridSizeLG;
        height: @gridSizeLG;

        .piece-position (@i) when (@i > 0) {
          @x: ceil(@i / 4);
          @y: mod(@i, 4) + 1;

          &.piece-position_@{x}@{y} {
            .crossBrowser(transform, translate((@y - 1) * (@gridSizeLG + @gridMarginLG) + @gridMarginLG, (@x - 1) * (@gridSizeLG + @gridMarginLG) + @gridMarginLG));
          }

          .piece-position(@i - 1);
        }

        .piece-position(16);

        &:after {
          font-size: @gridSizeLG / 2;
          height: @gridSizeLG;
          width: @gridSizeLG;
          line-height: @gridSizeLG;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .gameboard {
    height: (@gridSizeXS + @gridMarginXS) * 4 + @gridMarginXS;
    width: (@gridSizeXS + @gridMarginXS) * 4 + @gridMarginXS;

    &.start-game {
      &:after {
        background: url('img/hand.gif') no-repeat center center / 50% 50%;
      }
    }

    .reset {
      p {
        font-size: 0.7 * @gridSizeXS;
      }
    }

    .heading {
      h1 {
        font-size: 0.7 * @gridSizeXS;
      }
    }

    .grid {
      padding: @gridMarginXS;

      .row {
        margin-bottom: @gridMarginXS;

        .cell {
          height: @gridSizeXS;
          width: @gridSizeXS;
          margin-right: @gridMarginXS;
        }
      }
    }

    .pieces {
      .piece {
        width: @gridSizeXS;
        height: @gridSizeXS;

        .piece-position (@i) when (@i > 0) {
          @x: ceil(@i / 4);
          @y: mod(@i, 4) + 1;

          &.piece-position_@{x}@{y} {
            .crossBrowser(transform, translate((@y - 1) * (@gridSizeXS + @gridMarginXS) + @gridMarginXS, (@x - 1) * (@gridSizeXS + @gridMarginXS) + @gridMarginXS));
          }

          .piece-position(@i - 1);
        }

        .piece-position(16);

        &:after {
          font-size: @gridSizeXS / 2;
          height: @gridSizeXS;
          width: @gridSizeXS;
          line-height: @gridSizeXS;
        }
      }
    }
  }
}

@keyframes slide-up {
  0% {
    top: 100%;
    opacity: 1;
  }

  100% {
    top: 15px;
    opacity: 0;
  }
}

@keyframes zoom-out {
  0% {
    .crossBrowser(transform, scale(0.3, 0.3));
  }

  80% {
    .crossBrowser(transform, scale(1.2, 1.2));
  }

  100% {
    .crossBrowser(transform, scale(1, 1));
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    top: 0;
  }

  50% {
    opacity: .5;
    top: 20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.crossBrowser(@property, @val){
  -webkit-@{property}: @val;
  -moz-@{property}: @val;
  -ms-@{property}: @val;
  @{property}: @val;
}