body {
	position: relative;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.gameboard {
	position: fixed;
	left: 50%;
	top: 50%;
	padding-top: 130px;
	user-select: none;
	overflow: hidden;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.gameboard.start-game:after {
	content: '';
	position: absolute;
	top: 130px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}

.gameboard.game-over .reset {
	display: block;
}

.gameboard .reset {
	display: none;
	position: absolute;
	top: 130px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 25%;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	margin: 0 auto;
	z-index: 3;
}

.gameboard .reset p {
	font-weight: bold;
	margin: 20px 0;
	color: #776e65;
}

.gameboard .reset button {
	background: #8f7a66;
	border-radius: 3px;
	padding: 0 20px;
	color: #f9f6f2;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	cursor: pointer;
	border: 0;
	box-shadow: 0;
}

.gameboard .heading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 130px;
}

.gameboard .heading:after {
	content: '';
	clear: both;
	display: block;
}

.gameboard .heading h1 {
	line-height: 60px;
	font-weight: bold;
	margin: 0;
	color: #776e65;
}

.gameboard .heading h1 span {
	position: relative;
	float: left;
	opacity: 0;
	animation: bounce .5s ease forwards;
}

.gameboard .heading h1 span:nth-child(2) {
	animation-delay: .1s;
}

.gameboard .heading h1 span:nth-child(3) {
	animation-delay: .2s;
}

.gameboard .heading h1 span:nth-child(4) {
	animation-delay: .3s;
}

.gameboard .heading p {
	font-size: 18px;
	display: block;
	margin: 0 0 10px;
	color: #776e65;
}

.gameboard .heading .score {
	float: right;
	position: relative;
	display: inline-block;
	background: #bbada0;
	padding: 15px 25px;
	font-size: 25px;
	height: 25px;
	line-height: 45px;
	font-weight: bold;
	border-radius: 3px;
	color: #f9f6f2;
	margin-left: 2px;
	text-align: center;
}

.gameboard .heading .score:after {
	content: 'score';
	position: absolute;
	right: 0;
	top: 7px;
	left: 0;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	color: #f9f6f2;
	opacity: 0.7;
}

.gameboard .heading .score span {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	color: #776e65;
	font-size: 25px;
	line-height: 25px;
	margin-top: -10px;
	opacity: 0;
	animation: slide-up 0.7s ease forwards;
}

.gameboard .grid {
	position: absolute;
	background: #bbada0;
	border-radius: 6px;
	z-index: 1;
}

.gameboard .grid .row:last-of-type {
	margin-bottom: 0;
}

.gameboard .grid .row:after {
	content: '';
	clear: both;
	display: block;
}

.gameboard .grid .row .cell {
	background: rgba(238, 228, 218, 0.35);
	border-radius: 3px;
	float: left;
}

.gameboard .grid .row .cell:last-of-type {
	margin-right: 0;
}

.gameboard .pieces {
	position: absolute;
	z-index: 2;
}

.gameboard .pieces .piece {
	position: absolute;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.gameboard .pieces .piece.piece_2048:after {
	content: '2048';
	background: #edc22e;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_1024:after {
	content: '1024';
	background: #edc53f;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_512:after {
	content: '512';
	background: #edc950;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_256:after {
	content: '256';
	background: #edcc62;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_128:after {
	content: '128';
	background: #edd073;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_64:after {
	content: '64';
	background: #f75f3b;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_32:after {
	content: '32';
	background: #f77c5f;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_16:after {
	content: '16';
	background: #f69664;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_8:after {
	content: '8';
	background: #f3b27a;
	color: #f9f6f2;
}

.gameboard .pieces .piece.piece_4:after {
	content: '4';
	background: #eee1c9;
	color: #776e65;
}

.gameboard .pieces .piece.piece_2:after {
	content: '2';
	background: #eee4da;
	color: #776e65;
}

.gameboard .pieces .piece.piece-new:after {
	animation: zoom-out 0.2s ease;
}

.gameboard .pieces .piece:after {
	content: '';
	position: absolute;
	background: #4d4a42;
	border-radius: 3px;
	color: #776e65;
	font-weight: bold;
	text-align: center;
}

@media (min-width: 768px) {
	.gameboard {
		height: 475px;
		width: 475px;
	}

	.gameboard.start-game:after {
		background: url('img/cursor.gif') no-repeat center center / 50% 50%;
	}

	.gameboard .reset p {
		font-size: 70px;
	}

	.gameboard .heading h1 {
		font-size: 70px;
	}

	.gameboard .grid {
		padding: 15px;
	}

	.gameboard .grid .row {
		margin-bottom: 15px;
	}

	.gameboard .grid .row .cell {
		height: 100px;
		width: 100px;
		margin-right: 15px;
	}

	.gameboard .pieces .piece {
		width: 100px;
		height: 100px;
	}

	.gameboard .pieces .piece.piece-position_41 {
		-webkit-transform: translate(15px, 360px);
		-moz-transform: translate(15px, 360px);
		-ms-transform: translate(15px, 360px);
		transform: translate(15px, 360px);
	}

	.gameboard .pieces .piece.piece-position_44 {
		-webkit-transform: translate(360px, 360px);
		-moz-transform: translate(360px, 360px);
		-ms-transform: translate(360px, 360px);
		transform: translate(360px, 360px);
	}

	.gameboard .pieces .piece.piece-position_43 {
		-webkit-transform: translate(245px, 360px);
		-moz-transform: translate(245px, 360px);
		-ms-transform: translate(245px, 360px);
		transform: translate(245px, 360px);
	}

	.gameboard .pieces .piece.piece-position_42 {
		-webkit-transform: translate(130px, 360px);
		-moz-transform: translate(130px, 360px);
		-ms-transform: translate(130px, 360px);
		transform: translate(130px, 360px);
	}

	.gameboard .pieces .piece.piece-position_31 {
		-webkit-transform: translate(15px, 245px);
		-moz-transform: translate(15px, 245px);
		-ms-transform: translate(15px, 245px);
		transform: translate(15px, 245px);
	}

	.gameboard .pieces .piece.piece-position_34 {
		-webkit-transform: translate(360px, 245px);
		-moz-transform: translate(360px, 245px);
		-ms-transform: translate(360px, 245px);
		transform: translate(360px, 245px);
	}

	.gameboard .pieces .piece.piece-position_33 {
		-webkit-transform: translate(245px, 245px);
		-moz-transform: translate(245px, 245px);
		-ms-transform: translate(245px, 245px);
		transform: translate(245px, 245px);
	}

	.gameboard .pieces .piece.piece-position_32 {
		-webkit-transform: translate(130px, 245px);
		-moz-transform: translate(130px, 245px);
		-ms-transform: translate(130px, 245px);
		transform: translate(130px, 245px);
	}

	.gameboard .pieces .piece.piece-position_21 {
		-webkit-transform: translate(15px, 130px);
		-moz-transform: translate(15px, 130px);
		-ms-transform: translate(15px, 130px);
		transform: translate(15px, 130px);
	}

	.gameboard .pieces .piece.piece-position_24 {
		-webkit-transform: translate(360px, 130px);
		-moz-transform: translate(360px, 130px);
		-ms-transform: translate(360px, 130px);
		transform: translate(360px, 130px);
	}

	.gameboard .pieces .piece.piece-position_23 {
		-webkit-transform: translate(245px, 130px);
		-moz-transform: translate(245px, 130px);
		-ms-transform: translate(245px, 130px);
		transform: translate(245px, 130px);
	}

	.gameboard .pieces .piece.piece-position_22 {
		-webkit-transform: translate(130px, 130px);
		-moz-transform: translate(130px, 130px);
		-ms-transform: translate(130px, 130px);
		transform: translate(130px, 130px);
	}

	.gameboard .pieces .piece.piece-position_11 {
		-webkit-transform: translate(15px, 15px);
		-moz-transform: translate(15px, 15px);
		-ms-transform: translate(15px, 15px);
		transform: translate(15px, 15px);
	}

	.gameboard .pieces .piece.piece-position_14 {
		-webkit-transform: translate(360px, 15px);
		-moz-transform: translate(360px, 15px);
		-ms-transform: translate(360px, 15px);
		transform: translate(360px, 15px);
	}

	.gameboard .pieces .piece.piece-position_13 {
		-webkit-transform: translate(245px, 15px);
		-moz-transform: translate(245px, 15px);
		-ms-transform: translate(245px, 15px);
		transform: translate(245px, 15px);
	}

	.gameboard .pieces .piece.piece-position_12 {
		-webkit-transform: translate(130px, 15px);
		-moz-transform: translate(130px, 15px);
		-ms-transform: translate(130px, 15px);
		transform: translate(130px, 15px);
	}

	.gameboard .pieces .piece:after {
		font-size: 50px;
		height: 100px;
		width: 100px;
		line-height: 100px;
	}
}

@media (max-width: 767px) {
	.gameboard {
		height: 250px;
		width: 250px;
	}

	.gameboard.start-game:after {
		background: url('img/hand.gif') no-repeat center center / 50% 50%;
	}

	.gameboard .reset p {
		font-size: 35px;
	}

	.gameboard .heading h1 {
		font-size: 35px;
	}

	.gameboard .grid {
		padding: 10px;
	}

	.gameboard .grid .row {
		margin-bottom: 10px;
	}

	.gameboard .grid .row .cell {
		height: 50px;
		width: 50px;
		margin-right: 10px;
	}

	.gameboard .pieces .piece {
		width: 50px;
		height: 50px;
	}

	.gameboard .pieces .piece.piece-position_41 {
		-webkit-transform: translate(10px, 190px);
		-moz-transform: translate(10px, 190px);
		-ms-transform: translate(10px, 190px);
		transform: translate(10px, 190px);
	}

	.gameboard .pieces .piece.piece-position_44 {
		-webkit-transform: translate(190px, 190px);
		-moz-transform: translate(190px, 190px);
		-ms-transform: translate(190px, 190px);
		transform: translate(190px, 190px);
	}

	.gameboard .pieces .piece.piece-position_43 {
		-webkit-transform: translate(130px, 190px);
		-moz-transform: translate(130px, 190px);
		-ms-transform: translate(130px, 190px);
		transform: translate(130px, 190px);
	}

	.gameboard .pieces .piece.piece-position_42 {
		-webkit-transform: translate(70px, 190px);
		-moz-transform: translate(70px, 190px);
		-ms-transform: translate(70px, 190px);
		transform: translate(70px, 190px);
	}

	.gameboard .pieces .piece.piece-position_31 {
		-webkit-transform: translate(10px, 130px);
		-moz-transform: translate(10px, 130px);
		-ms-transform: translate(10px, 130px);
		transform: translate(10px, 130px);
	}

	.gameboard .pieces .piece.piece-position_34 {
		-webkit-transform: translate(190px, 130px);
		-moz-transform: translate(190px, 130px);
		-ms-transform: translate(190px, 130px);
		transform: translate(190px, 130px);
	}

	.gameboard .pieces .piece.piece-position_33 {
		-webkit-transform: translate(130px, 130px);
		-moz-transform: translate(130px, 130px);
		-ms-transform: translate(130px, 130px);
		transform: translate(130px, 130px);
	}

	.gameboard .pieces .piece.piece-position_32 {
		-webkit-transform: translate(70px, 130px);
		-moz-transform: translate(70px, 130px);
		-ms-transform: translate(70px, 130px);
		transform: translate(70px, 130px);
	}

	.gameboard .pieces .piece.piece-position_21 {
		-webkit-transform: translate(10px, 70px);
		-moz-transform: translate(10px, 70px);
		-ms-transform: translate(10px, 70px);
		transform: translate(10px, 70px);
	}

	.gameboard .pieces .piece.piece-position_24 {
		-webkit-transform: translate(190px, 70px);
		-moz-transform: translate(190px, 70px);
		-ms-transform: translate(190px, 70px);
		transform: translate(190px, 70px);
	}

	.gameboard .pieces .piece.piece-position_23 {
		-webkit-transform: translate(130px, 70px);
		-moz-transform: translate(130px, 70px);
		-ms-transform: translate(130px, 70px);
		transform: translate(130px, 70px);
	}

	.gameboard .pieces .piece.piece-position_22 {
		-webkit-transform: translate(70px, 70px);
		-moz-transform: translate(70px, 70px);
		-ms-transform: translate(70px, 70px);
		transform: translate(70px, 70px);
	}

	.gameboard .pieces .piece.piece-position_11 {
		-webkit-transform: translate(10px, 10px);
		-moz-transform: translate(10px, 10px);
		-ms-transform: translate(10px, 10px);
		transform: translate(10px, 10px);
	}

	.gameboard .pieces .piece.piece-position_14 {
		-webkit-transform: translate(190px, 10px);
		-moz-transform: translate(190px, 10px);
		-ms-transform: translate(190px, 10px);
		transform: translate(190px, 10px);
	}

	.gameboard .pieces .piece.piece-position_13 {
		-webkit-transform: translate(130px, 10px);
		-moz-transform: translate(130px, 10px);
		-ms-transform: translate(130px, 10px);
		transform: translate(130px, 10px);
	}

	.gameboard .pieces .piece.piece-position_12 {
		-webkit-transform: translate(70px, 10px);
		-moz-transform: translate(70px, 10px);
		-ms-transform: translate(70px, 10px);
		transform: translate(70px, 10px);
	}

	.gameboard .pieces .piece:after {
		font-size: 25px;
		height: 50px;
		width: 50px;
		line-height: 50px;
	}
}

@keyframes slide-up {
	0% {
		top: 100%;
		opacity: 1;
	}

	100% {
		top: 15px;
		opacity: 0;
	}
}

@keyframes zoom-out {
	0% {
		-webkit-transform: scale(0.3, 0.3);
		-moz-transform: scale(0.3, 0.3);
		-ms-transform: scale(0.3, 0.3);
		transform: scale(0.3, 0.3);
	}

	80% {
		-webkit-transform: scale(1.2, 1.2);
		-moz-transform: scale(1.2, 1.2);
		-ms-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
	}

	100% {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@keyframes bounce {
	0% {
		opacity: 0;
		top: 0;
	}

	50% {
		opacity: .5;
		top: 20px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}